/* work-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/work-sans-v24-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* work-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/work-sans-v24-latin-700.woff2') format('woff2');
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #2B2B2B;
    color: white;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}